<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="cookie-message">
    <div class="wrap">
        <div class="cookietext">
            Diese Webseite nutzt Cookies. Mit der weiteren Nutzung dieser Webseite erklären Sie sich damit einverstanden, dass wir Cookies verwenden.
            Wenn Sie mehr über die eingesetzten Cookies und ihre Verwendung wissen möchten, lesen Sie bitte unsere <f:link.page pageUid="14" title="Datenschutzerklärung der SLUB Dresden für das Börsenblatt digital">Datenschutzerklärung</f:link.page>.
        </div>
        <a class="my-close-button">Akzeptieren</a>
    </div>
</div>

</html>
