<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:if condition="{data.header}"><h2>{data.header}</h2></f:if>
<ul class="col-4">
    <f:if condition="{files}">
        <f:for each="{files}" as="image">
            <li>
                <figure>
                    <f:if condition="{data.image_zoom}">
                        <f:then>
                            <a href="{f:uri.image(image: image, maxHeight: 800)}" data-rel="lightcase:Galerie" title="{image.properties.title}">
                                <img src="{f:uri.image(image: image, width: 400, height: '533c')}"/>
                            </a>
                        </f:then>
                        <f:else>
                            <f:link.typolink parameter="{image.link}">
                                <img src="{f:uri.image(image: image, maxWidth: 400)}"/>
                            </f:link.typolink>
                        </f:else>
                    </f:if>
                </figure>
            </li>
        </f:for>
    </f:if>
</ul>
</html>
